@import url("https://fonts.googleapis.com/css?family=Roboto");
.nav-tab {
  color: #9fa5ac !important;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  &:hover {
    color: #078ef1 !important;
    background: #0779f91c;
    cursor: pointer !important;
    text-decoration: none;
    border-radius: 23px;
  }
  &.active {
    color: #078ef1 !important;
    text-decoration: none !important;
    cursor: pointer !important;
    border: none !important;
    padding: 10px 25px !important;
    background: #0779f91c;
    border-radius: 23px;
    font-weight: 500;
  }
}

// react tab style
.react-tabs__tab--selected {
  color: #078ef1 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  border: none !important;
  background: #0779f91c !important;
  border-radius: 23px !important;
  font-weight: 500;
}

.react-tabs__tab {
  color: #9fa5ac;
  padding: 10px 25px !important;
  margin-right: 10px;
  &:hover {
    color: #078ef1 !important;
    text-decoration: none !important;
    cursor: pointer !important;
    background: #0779f91c !important;
    border-radius: 23px;
    font-weight: 500;
  }
  &:focus {
    box-shadow: none !important;
  }
}

.react-tabs__tab-list {
  border: none !important;
}
